[% META title="Testruns" %]

<p>
Name: [% testrun.name %]<br>
</p>
[% FOREACH ts IN testsuites %]
<p>
Name: [% ts.name %]<br>
ID: [% ts.id %]<br>
Precondition: [% ts.precondition %]<br>
Description: [% ts.description %]<br>
</p>
[% END %]
